{% extends 'base.html' %}
{% load static %}
{% load cart_extras %}

{% block title %}Каталог сборок ПК{% endblock %}

{% block content %}
<h2>Каталог сборок ПК</h2>
 {% for category in categories %}
<h2 style="color: #00ffcc; text-align: center; font-family: 'Orbitron', sans-serif; font-size: 36px;">{{ category.name }}</h2>
<p style="text-align: center; color: #aaa;">{{ category.description }}</p>

<div class="product-grid">
    {% for product in category.product_set.all %}
    <div class="product-card">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% else %}
        <img src="{% static 'images/no_image.jpg' %}" alt="Нет фото">
        {% endif %}
        <h4>{{ product.name }}</h4>
        <p>{{ product.description|truncatewords:25 }}</p>
        <strong>{{ product.price }} ₽</strong>
        <a href="{% url 'product_detail' product.id %}" style="color: #00ffcc; text-decoration: none; display: block; margin: 10px 0; text-align: center;">Подробнее</a>

      
        <div style="text-align: center; margin: 20px 0;" data-product-id="{{ product.id }}">
            <!-- Блок с + / – (скрыт по умолчанию) -->
            <div class="quantity-buttons" style="display: none; align-items: center; background: rgba(30, 42, 56, 0.8); padding: 10px 20px; border-radius: 50px;">
                <button onclick="changeQty(this, -1)" style="font-size: 28px; background: none; border: none; color: #ff5722; cursor: pointer; padding: 0 15px;">–</button>
                <strong class="qty-number" style="font-size: 32px; color: #00ffcc; margin: 0 20px;">1</strong>
                <button onclick="changeQty(this, 1)" style="font-size: 28px; background: none; border: none; color: #00ffcc; cursor: pointer; padding: 0 15px;">+</button>
            </div>

            <!-- Кнопка "В корзину" (показывается по умолчанию) -->
            <button class="add-to-cart-btn" onclick="addToCart({{ product.id }})" style="background: linear-gradient(to right, #00ffcc, #ff5722); padding: 15px 40px; font-size: 20px; border: none; border-radius: 50px; color: white; cursor: pointer;">
                В корзину
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% empty %}
<p style="text-align: center;">Категорий пока нет.</p>
{% endfor %}
{% endblock %}